{% extends 'rango/base.html' %}
<!DOCTYPE html>
<html lang="en">

    {% block body_block %}

    <section class="login-dark">
        <form id="register_form" method="post" action="{% url 'registration_register' %}">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />
            </form>
        </form>
    </section>
    {% endblock %}
</html>


