{% extends 'rango/base.html' %}
 {% load staticfiles %}

 {% block title_block %}
 Add a Video
{% endblock %}
    
{% block body_block %}
        <h1 class="text-center text-light">Add Video to {{ category.name }}</h1>
        <section class="login-clean" style="background: transparent;">
        <div>
            <form id="category_form" method="post" action="{% url 'rango:add_video' category.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <h2 class="visually-hidden">Login Form</h2>
                
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Add Video</button></div>
                <!-- <input type="submit" name="submit" value="Add Video" /> -->
            </form>
        </div>  
    </section> 
{% endblock %} 