{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
 {% endblock %}

{% block body_block %}

<h1 class="text-light">Categories</h1>


  <div class="col-md-6" style="border-color: var(--bs-dark);opacity: 1;padding:27px">
    <form  method="get">
        <input type="search" name="q" placeholder="Search Categories" size="50" class="form-control">
      </form>
      <br>
    {% if returned %}
        <ul style="background: var(--bs-light);opacity: 0.75">
        {% for category in returned %}
        <li>
            <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <div>
        <strong>There are no categories that match your search criteria.</strong>
        <form method="get" action="{% url 'rango:all_cat' %}">
            <button type="submit" style="background-color:rgb(86,198,198); color:white;">Search Again</button>
        </form>
        <form method="get" action="{% url 'rango:add_category' %}">
            <button type="submit" style="background-color:rgb(86,198,198); color:white;">Add Category</button>
        </form>
    </div>
    {% endif %}      

<div>
   
    <form class="form-inline"
        id="user-form"
            method="post"
            action="{% url 'rango:search' %}"
            >
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control"
            type="text"
            size="50"
            name="query"
            placeholder="Haven't found what you are looking for? Search the web..."
            value ="{{ query }}"
            id="query" />
    </div>
    </form>
</div>
{% endblock %}