{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
     {% if category %}
         {{ category.name }}
     {% else %}
         Unknown Category
     {% endif %}
 {% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row" >
            <div class="col-md-12"> 
                <h1 class="text-center text-light">{{ category.name }}</h1>
            </div>
         <div>
            <div class="col-md-6" style="border-color: var(--bs-dark);opacity: 1;padding:27px">
                <form  method="get">
                    <input type="search" name="q" placeholder="Search Pages and Videos" size="50" class="form-control">
                  </form>
                  <br>
                  <form method="get" action="{% url 'rango:show_category' category.slug %}">
                    <button type="submit" style="background-color:rgb(86,198,198); color:white;">Search Again</button>
                </form>
                  <br>
         </div>   
        </div>
        <div class="row" >
            <div class="col-md-6">
                {% if category %}
                <div class="text-center text-light">
                            <h2 id="like_count">{{ category.name }} has {{ category.likes }} likes! </h2> 
                            {% if user.is_authenticated %}
                            <button id="like_btn" data-categoryid="{{ category.id }}" style="background-color:rgb(86,198,198); color:white;"class="btn btn-light action-button" type="button">
                                <span data-feather="thumbs-up"></span>
                                Like Category
                            </button>
                        </br>
                    </br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <div class="col-md-6" style="background:white; opacity:0.75;padding:10px 0px 0px 10px">
                <div id="page-listing"> 
                    <h3>{{ category.name }} pages: </h3>
                    {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}"> {{ page.title }}</a>
                            <p id="like_page_count" style=color:black>has {{ page.likes }} likes! </p></li>
                        <div class="text-center text-light">
                            {% if user.is_authenticated %}
                            <button class="like_page_btn" data-pageid="{{ page.id }}" style="background-color:rgb(86,198,198); color:white;"class="btn btn-light action-button" type="button">
                                <span data-feather="thumbs-up"></span>
                                Like Page
                            </button>
                        </br>
                    </br>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>No pages currently available.</strong>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="btn btn-light action-button" role="button" href="{% url 'rango:add_page' category.slug %}" style="background-color:rgb(55, 0, 255); color:white;">Add Page</a>
                    <!-- <a href="{% url 'rango:add_video' category.slug %}">Add Video</a><br /> -->
                    {% endif %}
                    {% else %}
                    The specified category does not exist.
                    {% endif %}
            </div>
        </div>
        <div class="col-md-6" style="background:white; opacity:0.75;padding:10px 0px 0px 10px">
            <div id="video-listing"> 
            <h3>{{ category.name }} videos: </h3>
            {% if videos %}
            <ul>
                {% for video in videos %}
                <li><a href="{{ video.url }}">{{ video.title }}</a>
                    <p id="like_video_count" style=color:black>has {{ video.likes }} likes! </p></li>
                <div class="text-center text-light">
                    {% if user.is_authenticated %}
                    <button class="like_video_btn" data-videoid="{{ video.id }}" style="background-color:rgb(86,198,198); color:white;"class="btn btn-light action-button" type="button">
                        <span data-feather="thumbs-up"></span>
                        Like Video
                    </button>
                </br>
            </br>
                    {% endif %}
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No videos currently available.</strong>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-light action-button" role="button" href="{% url 'rango:add_video' category.slug %}" style="background-color:rgb(55, 0, 255); color:white;">Add Video</a><br />
            {% endif %}
        </div>
        </div>
    </div>

    <div>
   <br>
        <form class="form-inline"
            id="user-form"
                method="post"
                action="{% url 'rango:search' %}"
                >
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control"
                type="text"
                size="50"
                name="query"
                placeholder="Haven't found what you are looking for? Search the web..."
                value ="{{ query }}"
                id="query" />
        </div>
{% endblock %}

