{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
     {% if category %}
         {{ category.name }}
     {% else %}
         Unknown Category
     {% endif %}
 {% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row" >
            <div class="col-md-12"> 
                <h1 class="text-center text-light">{{ category.name }}</h1>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                {% if category %}
                <div class="text-center text-light">
                            <h2 id="like_count">{{ category.name }} has {{ category.likes }} likes! </h2> 
                            {% if user.is_authenticated %}
                            <button id="like_btn" data-categoryid="{{ category.id }}" style="background-color:rgb(86,198,198); color:white;"class="btn btn-light action-button" type="button">
                                <span data-feather="thumbs-up"></span>
                                Like Category
                            </button>
                        </br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <div class="col-md-6"style="background:white; opacity:0.75;padding:10px 0px 0px 10px">
                <div id="page-listing"> 
                    <h3>{{ category.name }} pages: </h3>
                    {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>No pages currently in category.</strong>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="btn btn-light action-button" role="button" href="{% url 'rango:add_page' category.slug %}">Add Page</a>
                    <!-- <a href="{% url 'rango:add_video' category.slug %}">Add Video</a><br /> -->
                    {% endif %}
                    {% else %}
                    The specified category does not exist.
                    {% endif %}
            </div>
        </div>
        <div class="col-md-6" style="background:white; opacity:0.75;">
            <h3>{{ category.name }} videos: </h3>
            {% if videos %}
            <ul>
                {% for video in videos %}
                <li><a href="{{ video.url }}">{{ video.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No videos currently in category.</strong>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-light action-button" role="button" href="{% url 'rango:add_video' category.slug %}">Add Video</a><br />
            {% endif %}
        </div>
    </div>
{% endblock %}

