{% extends 'rango/base.html' %}
<!DOCTYPE html>
<html lang="en">

    {% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="border-color: var(--bs-dark);opacity: 1;padding:27px">
                <h1 class="text-light">Most Liked Categories</h1>
                {% if categories %}
				    <ul style="background: var(--bs-light);opacity: 0.75">
				    {% for category in categories %}
				    <li>
				    	<a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
				    </li>
				    {% endfor %}
				    </ul>
			    {% else %}
				    <strong>There are no categories present.</strong>
			    {% endif %}
            </div>
            <div class="col-md-6" style="padding:27px">
                <h1 class="text-light">Most Liked Pages</h1>
                {% if pages %}
			        <ul style="background: var(--bs-light);opacity:0.75">
				    {% for page in pages %}
				    <li>
					    <a href="{{ page.url}}">{{ page.title }}</a>
				    </li>
				{% endfor %}
			        </ul>
			    {% else %}
			        '<strong>There are no pages present.</strong>
			    {% endif %}
            </div>
            <div class="col-md-6" style="padding:27px">
                <h1 class="text-light">Most Liked Videos</h1>
                {% if videos %}
			        <ul style="background: var(--bs-light);opacity:0.75">
				    {% for video in videos %}
				    <li>
					    <a href="{{ video.url}}">{{ video.title }}</a>
				    </li>
				{% endfor %}
			        </ul>
			    {% else %}
			        '<strong>There are no video present.</strong>
			    {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

</html>