{% extends 'rango/base.html' %}
<!DOCTYPE html>
<html lang="en">

    {% block body_block %}

    <section class="login-dark">
        <form id="login_form" method="post" action="{% url 'auth_login' %}">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {% csrf_token %}
            <div class="mb-3"><input type="text" class="form-control" name="username" placeholder="User88name" /></div>
            <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password" /></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div>
               <a href="{% url 'social:begin' 'facebook' %}" style="color:darkgray" ><img style="width: 230px;height: 60px;padding: -11px;margin: 5px;" src="/static/images/fb.png" alt="Picture of Rango" /></a>
            </div>
        </form>
    </section>

    {% endblock %}

</html>