<div>
                <form class="form-inline"
                    id="user-form"
                        method="post"
                        action="{% url 'rango:search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control"
                        type="text"
                        size="50"
                        name="query"
                        value ="{{ query }}"
                        id="query" />
                </div>
            
                <button class="btn btn-primary"
                        type="submit"
                        name="submit">Search</button>
                </form>
            </div>